<header class="site-header">
  <div class="content-grid">
    <div class="header-content  d-flex justify-content-between  gap-4">
      <a href="/" class="logo">El <span>Latin</span> Palace</a>
      <nav class="main-nav">
        <ul class="d-flex gap-4 list-unstyled mb-0">
          <li><a href="/">Inicio</a></li>
          <li><a href="/eventos/">Eventos</a></li>
          <li><a href="/galeria/">Galería</a></li>
          <li><a href="/blog/mejores-discotecas-en-las-palmas/">Blog</a></li>
          <li><a href="/contacto/">Contacto</a></li>

        </ul>
      </nav>
    </div>
  </div>
</header>
